{% extends 'demo/base.html' %}
{% block title %}Dynamic Forms{% endblock %}
{% block dynamic_active %}active{% endblock %}
<!-- {% load widget_tweaks %} -->
{% load static %}

{% block body %}
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> -->
<link rel="stylesheet" href="{% static 'css/dynamic.css' %}">
<script>
  $(document).on('change','#id_backtest_type', function () {
    console.log( $(this).val() );
    var form = $(this).closest("form");
    $.ajax({
        // url: "demo/dynamic.html",
        type: 'get',
        data: form.serialize(),
        success: function (data) {
          console.log(form.attr("data-url"));
          },
        failure: function(data) {
          alert('Got an error dude');
        }
      });
  });

  $(document).on('click','#button_detail', function () {
    console.log( $(this).val() );
    var btn = $(this);
    console.log('Hi ajax');
    $.ajax({
      url: btn.attr("data-url"),
      type: 'get',
      dataType: 'json',
      beforeSend: function () {
        $("#modal-book .modal-content").html("");
        $("#modal-book").modal("show");
      },
      success: function (data) {
        $("#modal-book .modal-content").html(data.html_form);
      }
    });
  });

    var loadForm = function () {
      var btn = $(this);
      console.log('Hi ajax');
      $.ajax({
        url: btn.attr("data-url"),
        type: 'get',
        dataType: 'json',
        beforeSend: function () {
          $("#modal-book .modal-content").html("");
          $("#modal-book").modal("show");
        },
        success: function (data) {
          $("#modal-book .modal-content").html(data.html_form);
        }
      });
    };

    var saveForm = function () {
      var form = $(this);
      console.log('bye ajax');
      $.ajax({
        // url: "{% url 'demo:dynamic' %}"
        url: form.attr("action"),
        data: form.serialize(),
        type: form.attr("method"),
        dataType: 'json',
        success: function (data) {
          if (data.form_is_valid) {
            $("#full_form tbody").html(data.html_book_list);
            $("#modal-book").modal("hide");
          }
          else {
            $("#modal-book .modal-content").html(data.html_form);
          }
        }
      });
      return false;
    };

    $(".js-create-book").click(loadForm);
    $("#modal-book").on("submit", ".js-book-create-form", saveForm)

</script>





<div class="row">
  <div class="col-sm-12">
    <div class="page-header">
      {% if display_details %}
      <h1>I'm diplaying</h1>
      {% endif %}
      <h2>Choose Recipe</h2>
      <form id="full_form" action="{% url 'demo:dynamic' %}" class="form-hotizontal" method="POST" data-url="{% url 'demo:dynamic' %}">
        {% csrf_token %}
        {% for field in backtest_form %}
        <div class="form-group row">
          <div class="col-sm-6 ">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {% if field.id_for_label == 'id_backtest_type' %}
            <div class="form-group row">
              <div class="col-sm-8">{{ field|add_class:'form-control' }}</div>
              {% if not display_details %}
              <div class="col-sm-4">
                <div class="btn-group btn-group-justified" role="group">
                  <div class="btn-group" role="group">
                    <!-- <button class="btn btn-secondary" type="button">Change default values</button> -->
                    <button  id ="button_detail" type="button" class="btn btn-primary js-create-book" data-url="{% url 'demo:book_create' %}">
                      New book
                    </button>
                  </div>
                </div>
              </div>
              {% endif %}
            </div>
            {% else %}
            <!-- <label for="{{ field.id_for_label }}">{{ field.label }}</label> -->
            {{ field|add_class:'form-control' }}
            {% endif %}


          </div>
        </div>
        {% endfor %}
        {%if display_details %}
        <div id="extra-parameters" class="advanced-options">
          <form action="{% url 'demo:dynamic' %}" class="form-hotizontal" method="POST">
            {% csrf_token %}
            {% for field in details_form %}
            <div class="form-group row">
              <div class="col-sm-6">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field|add_class:'form-control' }}
              </div>
            </div>
            {% endfor %}
            <br>
            <div class="form-group row">
              <div class="col-sm-6">
                <div class="btn-group btn-group-justified" role="group">
                  <div class="btn-group" role="group">
                    <button class="btn btn-primary" type="submit">Run Backtest</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        {% endif %}

        <br>
        {% if not display_details %}
        <div id="button_backtest" class="form-group row">
          <div class="col-sm-3">
            <div class="btn-group btn-group-justified" role="group">
              <div class="btn-group" role="group">
                <button class="btn btn-primary" type="submit">Run Backtest</button>
              </div>
            </div>
          </div>
        </div>
        {% endif %}

      </form>
    </div>
  </div>
</div>
<table class="table" id="book-table">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>>
      <th>Publication date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% include 'demo/partial_backtest_list.html' %}
  </tbody>
</table>

<div class="modal fade" id="modal-book">
  <div class="modal-dialog">
    <div class="modal-content">

    </div>
  </div>
</div>


{% endblock %}
