{% extends 'demo/base.html' %}
{% block title %}Dynamic Forms{% endblock %}
{% block dynamic_active %}active{% endblock %}
<!-- {% load widget_tweaks %} -->
{% load static %}


<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> -->
<link rel="stylesheet" href="{% static 'demo/css/dynamic.css' %}">
{% block javascript %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="{% static 'demo/js/backtest.js' %}"></script>
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-sm-12">
    <div class="page-header">
      <h2>Choose Recipe</h2>
      <form id="full_form" action="{% url 'demo:dynamic' %}" class="form-hotizontal" method="POST" data-url="{% url 'demo:dynamic' %}">
        {% csrf_token %}
        {% for field in backtest_form.hidden_fields %}
            {{ field }}
        {% endfor %}
        {% for field in backtest_form.visible_fields %}
        <div class="form-group row">
          <div class="col-sm-6 ">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {% if field.id_for_label == 'id_backtest_type' %}
            <div class="form-group row">
              <div class="col-sm-8">{{ field|add_class:'form-control' }}</div>
              <div class="col-sm-4">
                <div class="btn-group btn-group-justified" role="group">
                  <div class="btn-group" role="group">
                    <!-- <button class="btn btn-secondary" type="button">Change default values</button> -->
                    <button  id ="button_detail" type="button" class="btn btn-primary js-create-book" data-url="{% url 'demo:book_create' %}">
                      New book
                    </button>
                  </div>
                </div>
              </div>
            </div>
            {% elif field.id_for_label == 'id_backtest_details' %}
              {{ field.as_hidden }}
            {% else %}
            <!-- <label for="{{ field.id_for_label }}">{{ field.label }}</label> -->
              {{ field|add_class:'form-control' }}
            {% endif %}
          </div>
        </div>
        {% endfor %}
        <br>

        <div id="button_backtest" class="form-group row">
          <div class="col-sm-3">
            <div class="btn-group btn-group-justified" role="group">
              <div class="btn-group" role="group">
                <button class="btn btn-primary js-create-backtest" type="submit">Run Backtest</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<table class="table" id="book-table">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>>
      <th>Publication date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% include 'demo/partial_backtest_list.html' %}
  </tbody>
</table>

<div class="modal fade" id="modal-book">
  <div class="modal-dialog">
    <div class="modal-content">

    </div>
  </div>
</div>


{% endblock %}
